<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Halaman Index Home Flask</title>
</head>
<body>
    <h1>Halaman Home</h1>

    <p>pilihan</p>
    <ul>
        <li><a href="{{url_for('get_login')}}">Login</a></li>
    </ul>
</body>
</html>