<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Halaman Login</title>
</head>
<body>
    <h1>Halaman Login</h1>

    <form action="{{url_for('get_login')}}" method="POST">
        <label for="fname">Username:</label><br>
        <input type="text" id="fname" name="username" placeholder="masukan username"><br>
        <label for="lname">Password</label><br>
        <input type="password" id="passwd" name="passwd" placeholder="masukan password"><br><br>
        <input type="submit" value="Submit">
    </form> 

</body>
</html>