<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>selamat datang di halaman profile {{user}}</title>
</head>
<body>
    <h1>selamat datang di halaman profile {{user}}</h1>
</body>
</html>